@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
	background-image: url('1.jpg');
	font-family: "Abel";
	max-width: 50em;
	padding-left: 100px;
}
.actual_book a {
	margin-top: 50px;
	text-align: center;
}